VITE_API_BASE_URL=http://127.0.0.1:4001
VITE_MICROSOFT_TENANT_ID=
VITE_MICROSOFT_CLIENT_ID=
VITE_MICROSOFT_REDIRECT_URI=http://localhost:5173
VITE_MICROSOFT_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
